<div><a href="/friends" id="friends">My Friends</a></div>
<div><a href="/bills" id="bills">Bill Report</a></div>
<div><a href="/startBill" id="startBill">Start a Bill</a></div>
<div><a href="/resetPassword" id="resetPassword">Reset Password</a></div>