<h2>Reset Password</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="resetPassword">
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" value="">
	</div>
    <div>
		<label for="newPassword">New Password:</label>
		<input type="password" name="newPassword" value="">
	</div>
	<div><input type="submit" value="Change"></div>
</form>